.app-wrapper {
  --app-margin: 1rem;

  margin: var(--app-margin);
  display: flex;
  flex-direction: column;
}

.grid-header {
  gap: 0.75rem;
  align-items: center;
  justify-content: start;
  display: inline-flex;
  padding: 0.5rem;
}
